/* 吹き出し設定 */
.notice_popup {
    width: 20vw;
    position: fixed;
    bottom: 1rem;
    right: 4rem;
    z-index: 9;
    opacity: 0.8;
}

.notice_popup_content {
    position: relative;
    padding: 1rem;
    border-radius: 10px;
}

/* 吹き出し文字の見た目 */
.notice_popup_content .message,
.notice_popup_content .title {
    line-height: 1.3;
}
/* 吹き出しタイトル */
.notice_popup_content .title {
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
}
/* 吹き出し設定 */


/* color: default */
.notice_popup_content.color-default {
    border: 2px solid #d0f1ff;
    background: #d0f1ff;
}
.notice_popup_content.color-default:before {
    border-top-color: #d0f1ff;
}
.notice_popup_content.color-default:after {
    border-top-color: #d0f1ff;
}
.notice_popup_content.color-default .message,
.notice_popup_content.color-default .title {
    color: #000;
}
.notice_popup_content.color-default .title {
    border-bottom: #00bfff solid 1px;
}


/* color: red */
.notice_popup_content.color-red {
    border: 2px solid #ffb4b4;
    background: #ffb4b4;
}
.notice_popup_content.color-red:before {
    border-top-color: #ffb4b4;
}
.notice_popup_content.color-red:after {
    border-top-color: #ffb4b4;
}
.notice_popup_content.color-red .message,
.notice_popup_content.color-red .title {
    color: #000;
}
.notice_popup_content.color-red .title {
    border-bottom: #ff4242 solid 1px;
}

/* color: green */
.notice_popup_content.color-green {
    border: 2px solid #b3fdf0;
    background: #b3fdf0;
}
.notice_popup_content.color-green:before {
    border-top-color: #b3fdf0;
}
.notice_popup_content.color-green:after {
    border-top-color: #b3fdf0;
}
.notice_popup_content.color-green .message,
.notice_popup_content.color-green .title {
    color: #000;
}
.notice_popup_content.color-green .title {
    border-bottom: #2fcdb4 solid 1px;
}


/* 閉じるボタン */
.batsu {
    position: relative;
    left: 95%;
    top: 13%;
    z-index: 10;
}

.batsu::before, .batsu::after { /* 共通設定 */
    content: "";
    position: absolute;
    margin-top: 12px;
    top: 50%;
    left: 50%;
    width: 1px; /* 棒の幅（太さ） */
    height: 15px; /* 棒の高さ */
    background: #717171;
}

.batsu::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.batsu::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
/* 閉じるボタン */
